@charset"utf-8";

/*----------------------------------------
 auth_message
----------------------------------------*/
.message{
	margin: 0 40px 25px 40px;
	padding: 10px 0;
	font-size: 20px;
	font-weight: bold;
	text-align: center;
	background-color: #719ECF;
	color: #fff;
}
/*----------------------------------------
 contents_block
----------------------------------------*/
div#contents_block{
	padding: 50px 0 100px 0;
	font-size: 15px;
}
div#contents_block p.text{
	clear: both;
	margin: 0 0 10px 220px;
}
div#contents_block p.btn{
	clear: both;
	text-align: center;
	margin: 30px 0;
}
div#contents_block label{
	display: block;
	float: left;
	width: 100px;
}
div#contents_block input.text{
	width: 250px;
	padding: 2px;
}
div#contents_block input.submit{
/*	width: 150px; */
	padding: 7px 20px;
	border: none;
	line-height: 1;
	outline: none;
	background: none;
	background-color: #4F81BD;
	color: #fff;
	font-size: 15px;
	font-weight: bold;
}
div#contents_block input.submit:hover{
	background-color: #78A4D2;
}
